apiVersion: v1
kind: Service
metadata:
  name: guestbook-ui
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
  selector:
    app: guestbook-ui
    version: {{ .Values.color }}
